

$defaultFont: "proxima-nova", "Montserrat", Helvetica, "Helvetica Neue", Arial, sans-serif;
// $defaultFontSize:14;
$defaultWeight:500;
$defaultColor:#505050;


:export{
    defaultFont:$defaultFont;
    defaultWeight:$defaultWeight;
    defaultColor:$defaultColor
}