

$defaultFont: "proxima-nova", "Montserrat", Helvetica, "Helvetica Neue", Arial, sans-serif;
// $defaultFontSize:14;
$defaultWeight:500;
$defaultColor:#474747;
$defaultBackColor:#daffdb; 


:export{
    defaultFont:$defaultFont;
    defaultWeight:$defaultWeight;
    defaultColor:$defaultColor;
    defaultBackColor:$defaultBackColor;
}