@import './customvariables.scss';




*{

}
html{
    cursor: none;
}
html,body{
    color: $defaultColor;
    font-family: $defaultFont;
    margin: 0px;
    font-size: 14px;
}

.appNameCss{
    font-family: $defaultAppNameFont;
    font-size: 2.5rem;
    letter-spacing:2.5px;
}

.container{
    width: 100%;
    overflow: hidden;
}

.containerDiv{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    
    font-weight: 800;
    font-size: 25em;
    will-change: transform, opacity;
    // text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    -webkit-user-select: none;
    user-select: none;
    scroll-behavior: unset;
}


.bg {
    position: absolute;
    
    margin:0;

    object-fit:'contain';
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    will-change: transform,opacity; 
  }


  .cursor{
    position: absolute;
    width: 45px;
    height: 5px;
    background-color: $defaultColor;
    border-radius: 10px;
    z-index: 1;
    pointer-events: none;
    // backdrop-filter: grayscale();

}
.cursor:before{
    content: " ";
    position: absolute;
    width:28px;
    height:5px;
    background-color: inherit;
    border-radius: 10px;
    transform: rotate(-40deg);
    top:-8px;
    left:-7px;
}

.cursor:after{
    content: " ";
    position: absolute;
    width:28px;
    height:5px;
    background-color: inherit;
    border-radius: 10px;
    transform: rotate(40deg);
    bottom:-8px;
    left:-7px;
}
// .cursor-scale{
//    transform: scale(1.5); 
// }




.hoverInnerDiv{
    height:100%;
    position: absolute;
    width:40%;
    margin:0;
    background-color:#f9f4eae8;

}


.hoverDiv{
    height:60%;
    position: absolute;
    width:40%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.hoverDivHeadSub{
    font-size: 1.5rem;
    font-weight: 700;
}

.hoverDivHead{
    font-family: $defaultHvrDivFont;
    font-size: $defaultHvrDivSize;
    font-weight: $defaultHvrDivWeight;

  
}