@import './customvariables.scss';




*{
    // border: 1px solid red;
}
html{
    cursor: none;
}
html,body{
    color: $defaultColor;
    font-family: $defaultFont;
    margin: 0px;
    font-size: 14px;
}

.appNameCss{
    font-family: $defaultAppNameFont;
    font-size: 2.5rem;
    letter-spacing:2.5px;
}

.container{
    width: 100%;
    
    overflow: hidden;
    position: 'relatie';
}

.containerDiv{

    position: absolute;
    // width: 100%;
    // height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    
    font-weight: 800;
    font-size: 25em;
    will-change: transform, opacity;
    // text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    -webkit-user-select: none;
    user-select: none;
    scroll-behavior: unset;
}


.containerDivWAft{
   position: absolute;
    width: 100%;
    height: 100%;         
    will-change: transform, opacity;
}



.bg {
    position: absolute;
    margin:0;
    object-fit:'contain';
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    will-change: transform,opacity; 
  }


  .cursor{
    position: absolute;
    width: 45px;
    height: 5px;
    background-color: $defaultColor;
    border-radius: 10px;
    z-index: 1;
    pointer-events: none;
    // backdrop-filter: grayscale();

}
.cursor:before{
    content: " ";
    position: absolute;
    width:28px;
    height:5px;
    background-color: inherit;
    border-radius: 10px;
    transform: rotate(-40deg);
    top:-8px;
    left:-7px;
}

.cursor:after{
    content: " ";
    position: absolute;
    width:28px;
    height:5px;
    background-color: inherit;
    border-radius: 10px;
    transform: rotate(40deg);
    bottom:-8px;
    left:-7px;
}
// .cursor-scale{
//    transform: scale(1.5); 
// }




.hoverInnerDiv{
    height:100%;
    position: absolute;
    width:40%;
    margin:0;
    background-color:#f9f4eae8;

}


.hoverDiv{
    height:60%;
    position: absolute;
    width:40%;
    margin:0;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.hoverDivHeadSub{
    font-size: 1.5rem;
    font-weight: 700;
}

.hoverDivHead{
    font-family: $defaultHvrDivFont;
    font-size: $defaultHvrDivSize;
    font-weight: $defaultHvrDivWeight;  
}


.prdctTextSub{
    font-size: 1rem;
    font-weight: 700;
    will-change: opacity, transform;
}

.prdctText{
    font-family: $defaultHvrDivFont;
    font-size: 3rem;
    font-weight: $defaultHvrDivWeight;  
    will-change: opacity, transform;
}






.canStyle{
    width:150px;
    height:250px;
    border-radius:15px;
    border:8px solid $defaultColor;
    position:relative;
   
}

// .canStyle:after{
//     content:' ';
//     width:inherit;
//     height:8px;
//     position:absolute;
//     background:$defaultColor;
//     top: 15px;
// }



// .canStyle:before{
//     content:' ';
//     width:inherit;
//     height:8px;
//     position:absolute;
//     background:$defaultColor;
//     bottom: 15px;
// }



.menuInsideComp{
    
    height:100%;
    width:80%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items:center;
    margin: auto;
    // &::before{
    //     content: ' ';
    //     position: sticky;
    //     height:20px;
    //     width:100%;
    //     top:0;
    //     background:linear-gradient(180deg, rgba(249,244,234,1) 0%, rgba(254,254,253,0.4654236694677871) 51%, rgba(254,254,253,0) 100%);
    // }

    // &::after{
    //     content: ' ';
    //     position: sticky;
    //     height:20px;
    //     width:100%;
    //     bottom:0;
    //     background:linear-gradient(0deg, rgba(249,244,234,1) 0%, rgba(254,254,253,0.4654236694677871) 41%, rgba(254,254,253,0) 100%);
    // }
    @include respond-to('xsmall') {
        // margin:40px;

        height:85%;
        width:90%;
        bottom:0;
        overflow: scroll;
        flex-wrap: wrap;
        align-items:start;
        align-content: start;
    }
}


.menuCards{
    margin:10px;
    border-radius:20px;
    position:relative;   
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    background:white; 
    @include respond-to('xsmall') {
        // margin:40px;
      
        box-shadow: none;
    }
}

.menuCards:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
    @include respond-to('xsmall') {
        // margin:40px;
      
        box-shadow: none;
    }
  }

.menuTexts{
    position:absolute;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    letter-spacing:5px;
    font-family:$defaultAppNameFont;
    // background-color:$defaultBackColor;
    background-color: rgba(255, 255, 255, 0.82);
    color:$defaultColor;// color:$defaultBackColor;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
  
    @include respond-to('xsmall') {
        // margin:40px;
      
        border-bottom-right-radius:0px;
        border-bottom-left-radius:0px;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
    }
}


.menuImgs{
    position:absolute;
   
    display:flex;
    justify-content:center;
    align-items:center;
    height: 75%;
    width:100%;   
    @include respond-to('xsmall') {
        // margin:40px;
        right:0;
        height: 100%;
        width:40%; 
    }
}

.menuimgCss{
    width:initial;
    height:85%;
    @include respond-to('xsmall') {
        // margin:40px;

        height:80%;
    }
}

.menuImgsUpDn{
    width:initial;
    height:100%;
    display: flex;
    align-items: center;
}
